<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is about page</h1>
    <!-- using fragment -->
    <!-- base is file name and arent is fragment name -->
    <div th:insert="~{base::parent(~{::p})}">
        <p>
            this is dyno content
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio vel sint iusto, error eos veniam temporibus voluptatem ipsum quia. Numquam?
        </p>

    </div>
</body>
</html>